definitions:
  echo.HTTPError:
    properties:
      message: {}
    type: object
  model.Category:
    properties:
      category_name:
        type: string
      child_of:
        type: string
      id:
        type: string
      image_url:
        type: string
      is_active:
        type: boolean
      sort_index:
        type: integer
    type: object
  model.CategoryWithCount:
    properties:
      category_name:
        type: string
      child_count:
        type: integer
      child_of:
        type: string
      id:
        type: string
      image_url:
        type: string
      is_active:
        type: boolean
      sort_index:
        type: integer
    type: object
host: api.sellspot.com.ua:8080
info:
  contact: {}
  description: Swagger documentation for Marketplace application API
  title: Marketplace application API
  version: 0.0.1
paths:
  /api/v1/category:
    get:
      consumes:
      - application/json
      description: get all categories
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Category'
            type: array
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/echo.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: List all categories
      tags:
      - Category
    post:
      consumes:
      - application/json
      description: create a new category
      parameters:
      - description: category to create
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/model.Category'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Category'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/echo.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: Create a new category
      tags:
      - Category
  /api/v1/category/:id:
    delete:
      consumes:
      - application/json
      description: Delete an exist category
      parameters:
      - description: category id
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/echo.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: Delete an exist category
      tags:
      - Category
    patch:
      consumes:
      - application/json
      description: Update an exist category
      parameters:
      - description: category id
        in: path
        name: id
        required: true
        type: string
      - description: category to update
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/model.Category'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.Category'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/echo.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: Update an exist category
      tags:
      - Category
  /api/v1/category/child:
    get:
      consumes:
      - application/json
      description: get all active categories with child count by parent id
      parameters:
      - description: parent category id
        in: query
        name: parent_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.CategoryWithCount'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/echo.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: Get all active categories with child count by parent id
      tags:
      - Category
  /api/v1/category/parent:
    get:
      consumes:
      - application/json
      description: get all active parent categories with child count
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/model.CategoryWithCount'
            type: array
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/echo.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/echo.HTTPError'
      security:
      - ApiKeyAuth: []
      summary: Get all active parent categories with child count
      tags:
      - Category
securityDefinitions:
  ApiKeyAuth:
    description: Authorization API key
    in: header
    name: X-API-KEY
    type: apiKey
swagger: "2.0"
